{% extends 'yincapp/base.html' %}

{% load static %}

{% block customcss %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock customcss %}


{% block content %}



<nav>
<ul class="nav nav-tabs" role="tablist" id="content-navigation-tabs">
  <li class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#books" role="tab">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#games" role="tab">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#watches" role="tab">Watches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#food" role="tab">Food</a>
  </li>
</ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="carousel slide col-xs-12" id="banner-slider" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#banner-slider" data-slide-to="0" class="active"></li>
        <li data-target="#banner-slider" data-slide-to="1"></li>
        <li data-target="#banner-slider" data-slide-to="2"></li>
        <li data-target="#banner-slider" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/flavour-alcohol.jpg' %}" class="center-block">
          <div class="carousel-caption">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/chocolate.jpg' %}">
          <div class="carousel-caption">
            <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h4>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/flavour.jpg' %}">
          <div class="carousel-caption">
            <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate velit</h4>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img\glow-flow.jpg' %}">
          <div class="carousel-caption">
            <h4>Excepteur sint occaecat cupidatat non proident</h4>
          </div>
        </div>
      </div> <!--END CAROUSEL INNER -->

      <!-- LEFT-RIGHT CONTROL -->
      <a href="#banner-slider" class="carousel-control left" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a href="#banner-slider" class="carousel-control right" data-slide="next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="books" role="tabpanel">
    <div class="container">
      <div class="row">
        {% for item in Books %}
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 ind-item">
          <img class="center-block" src="{% static item.getimageurl %}">
          <h4 class="text-center">{{item.name}}</h4>
          <p class="text-center">Rs. {{item.price}}/-</p>
          <p class="text-center">{{item.description}}</p>
          <button type="button" class="btn btn-sm btn-primary cart-add-btn" id="{{item.id}}">+ Cart</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="games" role="tabpanel">
    <div class="container">
      <div class="row">
        {% for item in Games %}
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 ind-item">
          <img class="center-block" src="{% static item.getimageurl %}">
          <h4 class="text-center">{{item.name}}</h4>
          <p class="text-center">Rs. {{item.price}}/-</p>
          <p class="text-center">{{item.description}}</p>
          <button type="button" class="btn btn-sm btn-primary cart-add-btn" id="{{item.id}}">+ Cart</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="watches" role="tabpanel">Watches</div>
  <div class="tab-pane" id="food" role="tabpanel">...</div>
</div>


<div id="cart-wrapper">
<div id="cart">
  <div id="cart-btn" class="closed">
    <button type="button" class="btn">CART</button>
  </div>

  <div id="cart-content" class="closed">
    <div class="container-fluid" id="cart-content-reload">
      <div class="row">
        <div class="col-xs-12 col-sm-8" id="cart-items">
          <ul>
            {% for id, item in request.session.cart.items %}
            <li class="text-center">
              <p>{{ item.name }}</p>
              <p>{{ item.count }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4" id="cart-checkout">
          <h3 class="text-center">TOTAL</h3>
          <p class="text-center"> {{ request.session.total }}</p>
          <a class="btn btn-success center-block" id="checkout-btn" href="#">CHECKOUT</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


{% endblock content %}



{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
//    CART OPEN/CLOSE
    $("#cart-wrapper").on("click", "#cart-btn", function(){
      if ($(this).attr("class")=="closed"){
        $(this).addClass("open").removeClass("closed");
        $("#cart-content").addClass("open").removeClass("closed");
      }
      else {
        $(this).addClass("closed").removeClass("open");
        $("#cart-content").addClass("closed").removeClass("open")
      }
    });

    // ADD ITEMS TO CART
    $(".cart-add-btn").click(function(){
      $.ajax({
        type: 'GET',
        url: "{% url 'AddToCart' %}",
        data: {
          'product_id': this.id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
      }).done(function(data){
        $("#cart-content").load(location.href + " #cart-content-reload");
      });
    })
  })
</script>
{% endblock js %}







