/*CONTENT NAVIGATION MENU*/

.tab-content {
  margin-bottom: 120px;
}

#content-navigation-tabs{
    background: white;
    color: black;
}

#content-navigation-tabs >li {
    width: 25%;
    color: black;
}

#content-navigation-tabs > li > a {
    color: black;
    text-align: center;
}

#content-navigation-tabs > li > a:hover{
    color: black;
}

#content-navigation-tabs > li.active > a {
    /*background: darkblue;*/
    /*color: black;*/
    background: lightgrey;
}


/*.fa-gamepad,.fa-book {*/
    /*position: relative;*/
    /*right: 5px;*/
/*}*/

/*END CONTENT NAVIGATION*/



.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.ind-item{
  margin-bottom: 5%;
  padding-bottom: 6%;
}

.ind-item > p{
  margin-bottom: 0;
}

img {
  height: 190px;
  width: auto;
  max-width: 127px;
  margin-bottom: 15px;
}


/*CART*/

.cart-add-btn{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 30%
}

#cart {
    position: fixed;
    bottom: 0;
    width: 100%
}

#cart-btn{
    width:15%;
    z-index: 1;
}

#cart-btn button {
    padding-top: 5px;
    width:100%;
    background: gray;
    border-radius: 10px 15px 0 0;
}

#cart-btn.closed {
    bottom: 0;
    transition: 0.5s;
}

#cart-btn.open {
    bottom: 120px;
    transition: 0.5s;
}

#cart-content{
    background: gainsboro;
    color: black;
    /*opacity: 0.9;*/
}

#cart-content.open {
    height: 120px;
    transition: 0.5s;
}

#cart-content.closed {
    height: 0px;
    transition: 0.5s;
}


#cart-content * ul{
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    height: 120px;
    padding-left: 0;
}

#cart-content * li {
    min-width: 150px;
    display: inline-block;
    color: black;
    margin-top: 20px;
}

#cart-content * p {
    padding: 0 5px;
}

#cart-content * h3{
    margin-top: 10px;
}

#checkout-btn {
    width: 50%;
}

.fa-plus-square {
    color: green;
    margin-left: 5px;
}

.fa-minus-square{
    color: crimson;
    margin-right: 5px;
}

.fa-shopping-bag {
    position: relative;
    right: 5px;
}

/*END CART*/


/*CAROUSEL*/
#banner-slider {
    padding: 0;
}

.carousel {
    background: black;
    margin-bottom: 2%;
}

.carousel * .item {
    height: 350px;
}

#banner-slider img {
    width: 100%;
    height: 100%;
}

i {
    margin: 140px 0;
}

@media(max-width: 768px) {
    #cart-content.open {
        height: 240px;
        transition: 0.5s;
    }

    #cart-btn {
        width: 30%;
    }

    #checkout-btn {
        width: 33%
    }

    #cart-content * h3{
        margin-top: 0;
    }

    .tab-content {
        margin-bottom: 240px;
    }

    .item-description {
        display: none;
    }

    .ind-item {
        padding-bottom: 15%;
    }

}

